# scala formatting
--style default
--maxColumn 160
--continuationIndentCallSite 2
--binPackParentConstructors false
--alignByOpenParenCallSite false
--alignStripMarginStrings false
--spacesInImportCurlyBraces true
--alignByArrowEnumeratorGenerator true
--alignTokens extends;Defn.(Class|Trait|Object),=>;Case,=;Defn.(Va(l|r)|Def|Type),->;Term.ApplyInfix,^^;Term.ApplyInfix,//;.*,
