language: scala
scala: 2.11.8
jdk: oraclejdk8
dist: trusty
sudo: false

addons:
  postgresql: 9.4

services:
  - docker
  - postgresql

script:
  # Export color variables needed by travis_wait and travis_jigger
  - export ANSI_RED ANSI_GREEN ANSI_RESET ANSI_CLEAR
  - export -f travis_wait travis_jigger
  - export MONGO_LINUX="MONGO_${MONGO_RELEASE}_LINUX"
  - export MONGO_PORT="MONGO_${MONGO_RELEASE}_PORT"
  - export MONGO_AUTH="MONGO_${MONGO_RELEASE}_AUTH"
  - ./scripts/installMongo mongodb-linux-x86_64-${!MONGO_LINUX} mongo ${!MONGO_PORT} ${!MONGO_AUTH}
  - psql -c 'CREATE DATABASE metastore;' -U postgres
  - echo 'postgresql_metastore="{\"host\":\"localhost\",\"port\":5432,\"database\":\"metastore\",\"userName\":\"postgres\",\"password\":\"\"}"' > $TEST_CONFIG_FILE
  - if [ $QUASAR_COUCHBASE ]; then ./scripts/startCouchbase; echo "couchbase=${QUASAR_COUCHBASE}" >> $TEST_CONFIG_FILE ; fi
  - if [[ $QUASAR_MARKLOGIC_JSON || $QUASAR_MARKLOGIC_XML ]]; then ./scripts/installMarkLogic; fi
  - if [ $QUASAR_MARKLOGIC_XML ]; then echo "marklogic_xml=${QUASAR_MARKLOGIC_XML}" >> $TEST_CONFIG_FILE; fi
  - if [ $QUASAR_MARKLOGIC_JSON ]; then echo "marklogic_json=${QUASAR_MARKLOGIC_JSON}" >> $TEST_CONFIG_FILE; fi
  - if [ $QUASAR_POSTGRESQL ]; then echo "postgresql=${QUASAR_POSTGRESQL}" >> $TEST_CONFIG_FILE; fi
  - if [ $QUASAR_SPARK_LOCAL ]; then echo "spark_local=\"${HOME}/${QUASAR_SPARK_LOCAL}/\"" >> $TEST_CONFIG_FILE; fi
  - psql -c 'CREATE DATABASE "quasar-test";' -U postgres
  - ./scripts/build $MONGO_RELEASE
  - ./scripts/quasarPublishAndTag

after_success: ./scripts/afterSuccess

notifications:
  irc:
    template:
      - "%{result}: %{repository_slug}#%{build_number} (%{branch}@%{commit}: %{author})
        %{build_url}"
  slack:
    secure: k7tat0w0CSokOD1K0nfPhFY9Z3xkYHXboNlW1WgNAjqtq56hQsfQWhN8z6cXRAs/CgT8ME0K//wDN/HgdG91/aVh1smv/hxMa6P/o70GclhvUkB4iTis3kv9la3Kf2w3K5pbWJ6fFLdAZqc5i9XpQ8q+d7UTgwAxj1ZcYwaCSVo=

branches:
  except:
    - /^v\d+\.\d+\.\d+$/ # don't redundantly build tags

cache:
  directories:
    - $HOME/.coursier/cache
    - $HOME/.ivy2/cache
    - $HOME/.sbt
    - target
    - .targets
    - project/project/target
    - project/target
    - scripts/marklogic/docker

before_cache:
  - find "$HOME/.sbt/" -name '*.lock' -print0 | xargs -0 rm
  - find "$HOME/.ivy2/" -name 'ivydata-*.properties' -print0 | xargs -0 rm

env:
  matrix:
    - MONGO_RELEASE=2_6
    - QUASAR_COUCHBASE='"couchbase://0.0.0.0?username=Administrator&password=password&socketConnectTimeoutSeconds=15"'
    - QUASAR_MARKLOGIC_JSON='"xcc://marklogic:marklogic@localhost:8000/Documents?format=json"'
    - QUASAR_MARKLOGIC_XML='"xcc://marklogic:marklogic@localhost:8000/Documents?format=xml"'
    - QUASAR_SPARK_LOCAL='spark_local_test'
    - MONGO_RELEASE=3_0
    - MONGO_RELEASE=3_0_RO
    - MONGO_RELEASE=3_2
    - QUASAR_POSTGRESQL='"jdbc:postgresql://localhost/quasar-test?user=postgres&password=postgres"'

  global:
    - COURSIER_PROGRESS=0
    - LOCAL_MONGODB=true
    - ISOLATED_ENV=true
    - MONGO_2_6_LINUX=2.6.11
    - MONGO_2_6_PORT=27018
    - MONGO_2_6_AUTH=""
    - MONGO_3_0_LINUX=3.0.12
    - MONGO_3_0_PORT=27019
    - MONGO_3_0_AUTH=""
    - MONGO_3_0_RO_LINUX=3.0.12
    - MONGO_3_0_RO_PORT=27019
    - MONGO_3_0_RO_AUTH="--auth"
    - MONGO_3_2_LINUX=3.2.9
    - MONGO_3_2_PORT=27020
    - MONGO_3_2_AUTH=""
    - TEST_CONFIG_FILE=it/testing.conf
    - POSTGRESQL_METASTORE=
