#postgresql_metastore = "{\"host\":\"localhost\",\"port\":5432,\"database\":\"metastore_test\",\"userName\":\"postgres\",\"password\":\"postgres\"}"
#mongodb_2_6       ="mongodb://<host>:<port>"
#mongodb_3_0       ="mongodb://<host>:<port>"
#mongodb_3_2       ="mongodb://<host>:<port>"
#mongodb_read_only ="mongodb://<host>:<port>"
#spark_local       ="<path_to_folder>"
#spark_hdfs        ="spark://<spark_host>:<spark_port>|hdfs://<hdfs_host>:<hdfs_port>|<root_path>"
#spark_elastic     ="spark://<spark_host>:<spark_port>?rootPath=<root_path>"
#marklogic         ="xcc://<username>:<password>@<host>:<port>/<database>"
#couchbase         ="couchbase://<host>[:<port>]/<bucket-name>?password=<password>&docTypeKey=<type>[&queryTimeoutSeconds=<seconds>]"
#spark_cassandra    ="local[*]|localhost|/q/"
