#postgresql_metastore = "{\"host\":\"localhost\",\"port\":5432,\"database\":\"metastore_test\",\"userName\":\"postgres\",\"password\":\"postgres\"}"
#mongodb_3_2       ="mongodb://<host>:<port>"
#mongodb_3_4       ="mongodb://<host>:<port>"
#mongodb_read_only ="mongodb://<host>:<port>"
#mimir              ="<path_to_folder>"
